@import '../../fonts/styles.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import '../css/reset.css';
@import 'desktop.scss';
@import 'responsive.scss';

/**General Styles**/
.color-grey {
    color: rgba(153, 167, 187, 1.0);
}

.relative {
    position: relative;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    font-size: 14px;
}

h4 {
    font-size: 23px;
    font-weight: 600;
}

h5 {
    font-size: 22px;
    font-weight: 600;
}

h3 {
    font-size: 26px;
    font-weight: normal;
}

hr {
    border: 0.02 solid #DBDBDB;
    margin: 13px 0;
    display: block;
}